html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 5px;
}
div {
	border: 0px solid;
}
.guitable td {
	cursor: help;
}
.champtable td{
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	width: 80px;
}
img {
	cursor: pointer;
	width: 60px;
	height: 60px;
}
table {
	table-layout: fixed;
}
img.desaturate {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
	opacity: 0.7;
}
img.saturate {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1.0;
}
.mywell {
	color: #a0a0a0;
	display: none;
	font-size: 10px;
	height: 200px;
	overflow-y: scroll;
	width: 100%;
}
#frequent_td {
	width: 150px;
}
#ui1{
	display: none;
	text-align: center;
}
#pbar{
	color: black;
	width: 0%;
}
#status, #credits, #tipBox{
	color: #808080;
	font-size: 10px;
}
#tipBox{
	display: none;
	font-size: 11px;
	overflow-x: wrap;
	width: 320px;
}
